<!-- In your Angular template -->
<div *ngIf="!movies" class="loader"></div>

<div *ngIf="movies?.length === 0">There are no records to display</div>

<div *ngFor="let movie of movies; let index = index" class="movie-item">
  <div class="movie-info">
    <span class="movie-number">{{ index + 1 }}.</span>
    <span class="movie-title">{{ movie.title | uppercase }}</span>
    <span class="movie-release">{{ movie.releaseDate | date: "dd-MMM-yyyy" | uppercase }}</span>
    <span class="movie-price">{{ movie.price | currency }}</span>
  </div>
  <button class="remove-btn" (click)="remove(index)">Remove</button>
</div>
